app/predict.py
_cloudFunctions/
__pycache__
deploy_to_cloud_run.sh


# Exclude locally installed dependencies
venv/

# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore
.github


# Exclude git history and configuration.
.gitignore
.git

**/bin
**/obj
**/node_modules